# Frontend
frontend/node_modules/

# Backend
backend/node_modules/

# Next.js
nextjs/node_modules/
nextjs/.next/
nextjs/.swc/
nextjs/coverage/

# Test output
backend/coverage/
backend/test-report/

# Other
.env
.env.*
.DS_Store
supabase/.temp
