# Next.js
nextjs/node_modules/
nextjs/.next/
nextjs/.swc/
nextjs/coverage/
nextjs/test-results/

# Supabase
supabase/.temp
supabase/snippets/

# Other
.env
.env.*
.secrets
.actrc

# Misc
.DS_Store
nextjs/.vercel/
